<div class="col-xs-12">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="row">
      <div class="col-xs-5">
        <div class="form-group">
          <label for="name">Name</label>
          <input 
          type="text" 
          class="form-control"
          ngModel
          name="name"
          required>
        </div>
      </div>
          <div class="col-xs-2">
            <label for="name">Amount</label>
            <input 
            type="number"
            class="form-control"
            ngModel
            name="amount"
            pattern="^[1-9]+[0-9]*$"
            required>
          </div>

    </div>

    <div class="row">
      <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="form.invalid && form.untouched">{{ editMode ? 'Update' : 'Add' }}</button>
          <button type="button" class="btn btn-danger" *ngIf="editMode" (click)="onDelete()">Delete</button>
          <button type="button" class="btn btn-primary" (click)="onClear()">Clear</button>
      </div>
    </div>

  </form>
  <hr>
</div>
